body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@font-face {
  font-family: 'Nunito Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../assets//fonts//Nunito-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../assets//fonts//Nunito-Bold.ttf') format('truetype');
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

span {
  padding: 0 4px;
}